<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>
			<pluginName>Elements_OutputDataConfigToolkit</pluginName>
			<pluginDescription><![CDATA[Elements_OutputDataConfigToolkit]]></pluginDescription>
            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>\Elements\OutputDataConfigToolkit\Plugin</pluginClassName>
			<!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/Elements_OutputDataConfigToolkit/lib</path>
				<path>/Elements_OutputDataConfigToolkit/controllers</path>
                <path>/Elements_OutputDataConfigToolkit/models</path>
			</pluginIncludePaths>
			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>OutputDataConfigToolkit</namespace>
			</pluginNamespaces>
			<!-- js files with path relative to plugin-directory -->
			<pluginJsPaths>
                <path>/Elements_OutputDataConfigToolkit/static/js/Plugin.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/OutputDataConfigTab.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/OutputDataConfigDialog.js</path>


                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/Abstract.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/value/DefaultValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/value/DimensionUnitField.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/value/StructuredTable.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/value/KeyValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/value/Numeric.js</path>

                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/Text.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/Group.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/Concatenator.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/Table.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/TableRow.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/TableCol.js</path>
				<path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/TranslateValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/CellFormater.js</path>
                <path>/Elements_OutputDataConfigToolkit/static/js/outputDataConfigElements/operator/TextAddon.js</path>
			</pluginJsPaths>

            <pluginJsPaths-extjs6>
                <path>/Elements_OutputDataConfigToolkit/static6/js/Plugin.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/OutputDataConfigTab.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/OutputDataConfigDialog.js</path>


                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/Abstract.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/value/DefaultValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/value/DimensionUnitField.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/value/StructuredTable.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/value/KeyValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/value/Numeric.js</path>

                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/Text.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/Group.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/Concatenator.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/Table.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/TableRow.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/TableCol.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/TranslateValue.js</path>
                <path>/Elements_OutputDataConfigToolkit/static6/js/outputDataConfigElements/operator/CellFormater.js</path>
            </pluginJsPaths-extjs6>

			<!-- css files with path relative to plugin-directory -->
			<pluginCssPaths>
                <path>/Elements_OutputDataConfigToolkit/static/css/admin.css</path>
			</pluginCssPaths>

            <pluginCssPaths-extjs6>
                <path>/Elements_OutputDataConfigToolkit/static6/css/admin.css</path>
            </pluginCssPaths-extjs6>
        </plugin>
</zend-config>

