
.pimcore_icon_operator_group {
    background: url("/pimcore/static/img/icon/text_indent.png") no-repeat scroll left center transparent !important;
}
.pimcore_icon_operator_concatenator {
    background: url("/pimcore/static/img/icon/package_link.png") no-repeat scroll left center transparent !important;
}
.plugin_outputdataconfig_icon {
    background: url("/pimcore/static/img/icon/table_go.png") no-repeat scroll left center transparent !important;
}

.pimcore_icon_operator_text {
    background: url("/pimcore/static/img/icon/text_ab.png") no-repeat scroll left center transparent !important;
}

.pimcore_icon_operator_table {
    background: url("/pimcore/static/img/icon/table.png") no-repeat scroll left center transparent !important;
}

.pimcore_icon_operator_tablerow {
    background: url("/pimcore/static/img/icon/table_row.png") no-repeat scroll left center transparent !important;
}

.pimcore_icon_operator_tablecol {
    background: url("/pimcore/static/img/icon/table_column.png") no-repeat scroll left center transparent !important;
}

.pimcore_icon_operator_cell_formater {
    background: url("/pimcore/static/img/icon/style_edit.png") no-repeat scroll left center transparent !important;
}
.pimcore_icon_operator_textaddon {
    background: url("/pimcore/static/img/icon/font_add.png") no-repeat scroll left center transparent !important;
}

